body {
  background: #1D2D3C;
  min-height: 100vh;
}

header {
  background-color: #06131F;
  height: 80px;
}

header i {
  color: #18D860;
  font-size: 2.5rem;
}

.my-card {
  perspective: 1000px;
  height: 500px;
  cursor: pointer;
}

.inner-card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.primary-card,
.disc-details {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /*Safari*/
  backface-visibility: hidden;
}

.primary-card {
  background: #112030;
}

.primary-card img {
  width: 250px;
}

.disc-details {
  z-index: 100;
  font-size: 1rem;
  overflow: auto;
  scrollbar-width: none;
  min-height: 500px;
  height: mit-content;
  background: #09233f;
  transform: rotateY(180deg);
}

.songs-list ul {
  columns: 2;
}

.flip180 {
  transform: rotateY(180deg);
}