.my-card {
  min-width: 75%;
  background: rgb(0, 0, 58);
  transition: background .3s;
  border-end-end-radius: 15px;
  border-bottom-left-radius: 15px;
}

.primary-card img {
  width: 150px;
}

.active.my-card {
  z-index: 100;
  background: rgb(0, 0, 81);
  border-end-end-radius: 0;
  border-bottom-left-radius: 0;
}

.disc-details {
  font-size: .8rem;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: rgb(0, 0, 58);
  top: 98%;
}

.active .disc-details {
  animation: showDetails 1s ease-in-out both;
  background: rgb(0, 0, 81);
}

.active .songs-list,
.active .description {
  animation: showText 1s ease-in-out both;
}

.songs-list ul {
  columns: 2;
}

@keyframes showDetails {
  from {
    height: 0;
    opacity: 1;
  }
  to {
    height: 500px;
    opacity: 1;
  }
}

@keyframes showText {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}